.price{
    color: #FF4240;
    font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 26px;
}
.faq{
    width: 100%;
}
.social{
    border-radius: 12px;
background: rgba(19, 19, 24, 0.03);
}
.linger{
text-align: center;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.social-part{
    border-radius: 12px;
background: rgba(19, 19, 24, 0.03);
}
.end-part{
   
}
.footer-title{
    color: #FFF;
}
.fa-regular{
    color: #FF4240
}
.fa-phone{
    color: #FF4240;
}
.touch{
    font-size: 28px;
    
}
